<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Creater namespace</title>
</head>
<body>
<h3 th:text="${message}"></h3>
<h5 th:text="${deploy_details}"></h5>
<h3>Verify that cluster is already deployed and than Get list of services in default namespace: </h3> <a href="/cluster/get-services">GET SERVICES</a>
<h4>OR:</h4>
<h3>Verify that cluster is already deployed and than click: </h3> <a href="/cluster/create-default-namespace">CREATE NAMESPACE</a>
</body>
</html>